@{
    string message;
    string color;
}

@if (ViewBag.Message != null)
{
    message = ViewBag.Message.ToString();
    color = "success";
    if (message.EndsWith("!"))
    {
        color = "danger";
    }
    <p class="text-@color">
        @message
    </p>
}

@if (TempData["Message"] != null)
{
    message = TempData["Message"].ToString();
    color = "success";
    if (message.EndsWith("!"))
    {
        color = "danger";
    }
    <p class="text-@color">
        @message
    </p>
}