@model IEnumerable<Category>

<ul class="navbar-nav">
    <li>
        <a asp-action="Index" asp-controller="Home" asp-area="Reports" class="acategory">All Categories</a>
    </li>
    @foreach (var category in Model)
    {
        <li>
            <a asp-action="Index" asp-controller="Home" asp-area="Reports" asp-route-Filter.CategoryId="@category.Id" class="acategory">@category.Name</a>
        </li>
    }
</ul>
