@model DataAccess.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <partial name="_Details" model="Model" />
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>@:&nbsp;|&nbsp;
    }
    <a asp-action="Index">Back to List</a>
</div>
